:root {
    --my-primary: #428BCA;
}

body > header {
    background-color: var(--my-primary);
}

.my-primary-text {
    color: var(--my-primary);
}

.my-primary-bg {
    background-color: var(--my-primary) !important;
}

.tnr-font {
    font-family: "Times New Roman", Times, serif;
}